#holder{
    width: 30vw;
    height: fit-content;
    padding: 2em;
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 60%;
}

button {
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 0.7em;
    border-radius: 0.7em;
    transition: background-color .3s;
}

button:hover {
    background-color: var(--devine-blue);
}

label {
    margin-top: 0.8em;
    font-weight: 400;
}

input {
    width: 100%;
}