#holder{
    width: 85vw;
    height: fit-content;
    display: flex;
    padding: 2em;
    border-radius: 2em;
    background-color: white;
    flex-direction: column;
}

h5 {
    font-family: "Host Grotesk", serif;
}
.holder-card{
    width: 100%;
    border-top: solid var(--garys-gray) 1px;
    border-bottom: solid var(--garys-gray) 1px;
    padding: 1em;
}

.holder-card.assignments {
    height: fit-content;
}

.content {
    justify-content: center;
}