#holder{
    width: 85vw;
    height: fit-content;
    display: flex;
    padding: 2em;
    border-radius: 2em;
    background-color: white;
    flex-direction: column;
}

h5 {
    font-family: "Host Grotesk", serif;
}
.holder-card{
    width: 100%;
    border-top: solid var(--garys-gray) 1px;
    border-bottom: solid var(--garys-gray) 1px;
    padding: 1em;
}
.holder-card.assignments {
    height: fit-content;
}
.content {
    justify-content: center;
}
.assign-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid var(--garys-gray) .5px;
    border-bottom: solid var(--garys-gray) .5px;
}

.assign-card h6 {
    margin: 0;
}

.assign-card img {
    width: 45px;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 8px;
}

.assign-card h5 {
    margin: 0;
}

.assign-card p {
    margin: 0;
}
.module-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid var(--garys-gray) .5px;
    border-bottom: solid var(--garys-gray) .5px;
}

.module-card h6 {
    margin: 0;
}

.module-card img {
    width: 45px;
    background-color: var(--garlic-green);
    padding: 5px;
    border-radius: 8px;
}

.module-card h5 {
    margin: 0;
}

.module-card p {
    margin: 0;
}
#quote{
    font-family: "Delius Swash Caps",cursive;
}